@import "tailwindcss";
@import "@fontsource-variable/inter/wght.css";

@theme {
  --color-rubin-blue: #058b8c;
  --color-nav-bar: #0A2530;
  --color-buttons: #0E7C7B;
  --color-buttons-hover: #0a5e5d;
  --color-lightbox-buttons: #A8C5C5;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}


